<template>
	<div class="keyvaluebox">
		<draggable v-model="data" @start="drag=true" @end="drag=false">
			<transition-group name="fadeInDown">
				<div class="row mb-4 schemeitem" v-for="(item, index) in data" :key="index">
					<div class="col-md-6 d-flex align-items-center justify-content-center">
						<div class="input-group">
							<div class="input-group-prepend">
								<button type="button" class="btn btn-danger" @click="data.splice(index,1)"><i
									class="fas fa-trash"></i></button>
							</div>
							<input type="text" class="form-control" v-model="data[index].name" placeholder="Name">
							<div class="input-group-append" v-if="types.length > 1">
								<select class="form-control custom-select bg-azure text-white"
								        v-model="data[index].type" @change="typeChanged(index)">
									<option v-for="(type, index) in types" :key="index" :value="type">{{type}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-6 d-flex align-items-center">
						<div class="selectgroup selectgroup-pills w-100" v-if="data[index].type === 'select'">
							<input type="text" class="form-control" style="width: 100%;" v-model="data[index].value" placeholder="Options">
						</div>
						<div v-else>
							<div class="selectgroup selectgroup-pills">
								<label class="selectgroup-item mb-0">
									<input type="checkbox" name="display" @click="setUniqueParam('display',index)"
									       v-model="data[index].display" class="selectgroup-input">
									<span class="selectgroup-button">Display</span>
								</label>
							</div>
							<div class="selectgroup selectgroup-pills">
								<label class="selectgroup-item mb-0">
									<input type="checkbox" v-model="data[index].required" class="selectgroup-input">
									<span class="selectgroup-button">Required</span>
								</label>
							</div>
							<div class="selectgroup selectgroup-pills"
							     v-if="data[index].type !== 'image' && data[index].type !== 'cropableimage' &&  data[index].type !== 'file'">
								<label class="selectgroup-item mb-0">
									<input type="checkbox" v-model="data[index].multilang" class="selectgroup-input">
									<span class="selectgroup-button">Multilangual</span>
								</label>
							</div>
							<div class="selectgroup selectgroup-pills"
							     v-if="data[index].type !== 'image' && data[index].type !== 'cropableimage' &&  data[index].type !== 'file'">
								<label class="selectgroup-item mb-0">
									<input type="checkbox" @click="setUniqueParam('slug',index)" v-model="data[index].slug"
									       class="selectgroup-input">
									<span class="selectgroup-button">Slug</span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</transition-group>
		</draggable>
		<input type="hidden" :name="name" :value="strData" id="schemeInput">
		<div class="row mt-4">
			<div class="col-12">
				<div class="text-right">
					<button class="btn btn-icon btn-azure" @click.prevent="add()"><i class="fas fa-plus"></i></button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import draggable from 'vuedraggable'

	export default {
		name: "SchemeGenerator",
		props: [ 'name', 'current' ],
		components: { draggable },
		data: () => ({
			types: [ 'text', 'textarea', 'select', 'editor', 'cropableimage', 'image', 'file' ],
			data: []
		}),
		computed: {
			strData () {
				return JSON.stringify( this.data );
			}
		},
		watch: {
			strData ( value ) {
				this.$emit( 'input', this.data );
			}
		},
		created () {
			if ( this.current !== undefined && this.current !== null ) {
				this.data = this.current;
			}
		},
		methods: {
			add () {
				this.data.push( {
					id: null,
					name: null,
					display: false,
					required: false,
					multilang: false,
					value:null,
					slug: false,
					type: this.types[ 0 ]
				} )
			},
			typeChanged ( index ) {
				switch ( this.data[ index ].type ) {
					case "file":
					case "image":
					case "cropableimage":
						this.data[ index ].multilang = false;
						break;
				}
			},
			setUniqueParam ( param, index ) {
				this.data[ index ][ param ] = !this.data[ index ].display;
				this.data.map( ( elem ) => {
					if ( elem !== this.data[ index ] ) {
						elem[ param ] = false;
					}
				} );
			}
		}
	}
</script>

<style lang="scss">
	.schemeitem {
		overflow: hidden;

		input,
		input:focus {
			background: #3b3b3b;
			color: #ffffff;
		}
	}
</style>
