@import "variables";
@import "transitions";
@import "~bootstrap/scss/bootstrap.scss";
@import "dashboard/dashboard";
@import "~toastr/toastr.scss";

button {
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}
.link-reset {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}


