.nk-header-title {
    position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
    z-index: 0;

    .nk-header-content {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 470px;
        padding-top: 75px;
    }

    .nk-header-content-inner {
        flex: 1 1 auto;
        width: 100%;
        padding: 80px 0;
    }

    // Content align
    &.nk-header-content-center-center .nk-header-content {
        align-items: center;
        text-align: center;
    }
    &.nk-header-content-center-left .nk-header-content {
        align-items: center;
        text-align: left;
    }
    &.nk-header-content-center-right .nk-header-content {
        align-items: center;
        text-align: right;
    }
    &.nk-header-content-top-center .nk-header-content {
        align-items: flex-start;
        text-align: center;
    }
    &.nk-header-content-top-left .nk-header-content {
        align-items: flex-start;
        text-align: left;
    }
    &.nk-header-content-top-right .nk-header-content {
        align-items: flex-start;
        text-align: right;
    }
    &.nk-header-content-bottom-center .nk-header-content {
        align-items: flex-end;
        text-align: center;
    }
    &.nk-header-content-bottom-left .nk-header-content {
        align-items: flex-end;
        text-align: left;
    }
    &.nk-header-content-bottom-right .nk-header-content {
        align-items: flex-end;
        text-align: right;
    }

    // size small
    &.nk-header-title-sm .nk-header-content {
        min-height: 370px;
    }

    // size mid
    &.nk-header-title-md .nk-header-content {
        min-height: 570px;
    }

    // size large
    &.nk-header-title-lg .nk-header-content {
        min-height: 670px;
    }

    // size x-large
    &.nk-header-title-xl .nk-header-content {
        min-height: 770px;
    }

    // size full
    &.nk-header-title-full .nk-header-content {
        min-height: 100vh;
    }

    // text bottom
    .nk-header-text-bottom {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: rgba($color_dark_1, .4);
    }
    &.nk-header-title-full .nk-header-text-bottom {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }

    // scroll down button
    .nk-header-title-scroll-down {
        position: absolute;
        display: block;
        bottom: 65px;
        left: 50%;
        width: 50px;
        height: 50px;
        margin-left: -25px;
        font-size: 2rem;
        line-height: 54px;
        color: inherit;
        text-align: center;
        text-decoration: none;
        border: 1px solid;
        border-radius: 50%;
        opacity: .6;
        transition: .2s;

        &:hover {
            color: $color_dark_1 !important; // stylelint-disable-line
            background-color: #fff;
            border-color: #fff;
            box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .05);
            opacity: 1;
        }
    }
    .nk-header-title-scroll-down-2 {
        position: absolute;
        display: block;
        bottom: 0;
        left: 50%;
        width: 1px;
        height: 100px;
        color: inherit;
        text-decoration: none;
        border-left: 1px solid;
        opacity: .6;
        transition: .2s;

        &:hover {
            opacity: 1;
        }

        &::after {
            content: "";
            display: block;
            top: 0;
            left: 0;
            width: 40px;
            height: 100%;
            margin-left: -20px;
        }
    }
    &.nk-header-title-sm .nk-header-title-scroll-down-2 {
        height: 80px;
    }
    &.nk-header-title-md .nk-header-title-scroll-down-2 {
        height: 120px;
    }
    &.nk-header-title-lg .nk-header-title-scroll-down-2,
    &.nk-header-title-xl .nk-header-title-scroll-down-2 {
        height: 140px;
    }

    // social icons
    .nk-social {
        position: absolute;
        display: block;
        bottom: 65px;
        width: 100%;
        text-align: center;
    }

    // title
    h1.nk-title {
        line-height: 1.18;
    }
}
