

html {
    font-size: $html_font_size;
}

body {
    font-family: $font_body;
    line-height: $body_line_height;
    letter-spacing: $body_letter_spacing;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    font-style: normal;
}

p {
    margin-bottom: 1.6rem;
}

b,
strong {
    font-weight: 600;
}

div.lead {
    font-family: $font_headings;
    font-size: 1.68rem;
    line-height: 1.45;
    color: $color_titles;
}
div.lead-sm {
    font-size: 1.25rem;
}

/* font like on headings */
.nk-heading-font {
    font-family: $font_headings;
    letter-spacing: .02em;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 1rem;
    font-family: $font_headings;
    font-weight: 600;
    color: $color_titles;
}
.display-1,
.display-2,
.display-3,
.display-4,
.display-big,
.display-extra-big {
    font-family: $font_headings;
    font-weight: 600;
    line-height: 1.25;
    color: $color_titles;
}
.display-1 {
    font-size: 4.1rem;
}
.display-2 {
    font-size: 3.6rem;
}
.display-3 {
    font-size: 3.15rem;
}
.display-4 {
    font-size: 2.6rem;
}
.display-big {
    font-size: 120px;

    @media #{$media_smaller_xs} {
        font-size: 60px;
    }
}
.display-extra-big {
    font-size: 150px;

    @media #{$media_smaller_xs} {
        font-size: 100px;
    }

    @media #{$media_xxs} {
        font-size: 60px;
    }
}
.h2,
h2 {
    font-size: 2.1rem;
}
.h3,
h3 {
    font-size: 1.69rem;
}
.h4,
h4 {
    font-size: 1.4rem;
}
.h6,
h6 {
    font-size: 1.15rem;
}

/* Sub Title */
.nk-subtitle {
    margin-bottom: 1.1rem;
    font-family: inherit;
    font-size: .93rem;
    text-transform: uppercase;
    letter-spacing: .2em;
}

// style 2
.nk-subtitle-2 {
    font-family: inherit;
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
}


// style 3
.nk-subtitle-3 {
    position: relative;
    margin-bottom: 12px;
    font-family: inherit;
    font-size: .83rem;
    font-weight: 500;
    color: $color_titles;
    text-transform: uppercase;

    &::before {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: -60px;
        width: 30px;
        margin-top: -1px;
        border-bottom: 1px solid;
    }
}
