<template>
	<div>
		<div class="slim" :ref="'slim'+_uid">
			<input type="file" @click.prevent="browseImage">
			<input type="hidden" :name="name" v-if="image.path !== null" :value="JSON.stringify(image)">
		</div>
		<transition name="slide">
			<button v-if="toAll && image.path !== null" class="slim-btn slim-share" @click.prevent="share">Send to all <i class="fas fa-share"></i></button>
		</transition>
	</div>
</template>

<script>
import Slim from '../../plugins/slim/slim.module.js';
export default {
	name: "ImgCrop",
	props: ["current", 'aspectRatio', 'minSize', 'maxSize', "name", 'toAll'],
	store: ['slimImage'],
	data: () => ({
		slim: null,
		image: {
			path: null,
			params: {}
		},
	}),
	created () {
		this.appendScripts();
	},
	mounted () {
		this.initSlim();
		if (this.current !== undefined && this.current !== null && this.current.isJson() && this.current !== "{}") {
			this.image = JSON.parse(this.current);
		}
	},
	watch: {
		'image.path' (value) {
			if (Object.keys(this.image.params).length > 0) {
				return this.setCurrent();
			}
			if (value) this.slim.load(value);
		},
		'slimImage.path' (value) {
			this.image.path = value;
			this.emitEvents();
		}
	},
	methods: {
		initSlim () {
			this.slim = new Slim(this.$refs['slim' + this._uid], {
				ratio: this.aspectRatio,
				minSize: this.minSize,
				maxSize: this.maxSize,
				download: true,
				willRemove: (d, remove) => {this.image = { path: null, params: {} }; remove(); this.emitEvents()},
				didSave: d => this.setCrop(d),
				didLoad: d => this.emitEvents(),
				label: 'Click to chose image.',
				buttonConfirmLabel: 'Ok',
			});
		},
		setCrop (image) {
			this.image['params'] = image.actions.crop;
			this.image['params']['rotation'] = image.actions.rotation;
		},
		setCurrent () {
			const params = this.image.params;
			const cords = { x: params.x, y: params.y, width: params.width, height: params.height };
			this.slim.load(this.image.path, { crop: cords });
		},
		share () {
			this.$store.set('slimImage', 'path', this.image.path);
		},
		browseImage () {
			moxman.browse({
				view: 'thumbs',
				oninsert: args => {
					const image = "/uploads" + args.focusedFile.path;
					this.image['path'] = image;
				}
			});
		},
		emitEvents () {
			this.$emit('imageChange', this.image);
			this.$emit('input', this.image);
			return true;
		},
		appendScripts () {
			if ($("#moxiemanagerScript").length == 0) {
				const moxiemanager = $("<script />", {
					type: "text/javascript",
					src: "/ecms/plugins/moxiemanager/js/moxman.loader.min.js",
					id: "moxiemanagerScript"
				})
				$("head").append(moxiemanager);
			}
		}
	}
}
</script>

<style lang="scss">
@import "../../plugins/slim/slim.min.css";
.slim {
  cursor: pointer;
  z-index: 1;
}
.slim-share {
  font-size: 1em;
  background-image: none;
  border-radius: 0;
  width: 100%;
  margin: 0;
  outline: none;
  background: #000000;
  z-index: 0;
}
.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s;
  transform: translateY(0);
  opacity: 1;
}
.slide-enter, .slide-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  transform: translateY(-10px);
  opacity: 0;
}
</style>
