<template>
	<li data-jstree='{type:"NOT_OK"}'>
		<a href="#" >{{model.name[$store.lang.default]}}</a>
		<ul v-if="Object.keys(model.children).length > 0">
			<page v-for="model in model.children" :model="model" :key="model.name">
			</page>
		</ul>
	</li>
</template>

<script>
export default {
	name: 'page',
	props: ['model']
}
</script>
