<template>
    <div>
        <div class="row">
            <div class="col">
                <v-jstree :data="data" show-checkbox multiple allow-batch whole-row draggable text-field-name="name" @item-click="itemClick">
                     <template slot-scope="_">
                            <div style="display: inherit; width: 200px" @click.ctrl="customItemClickWithCtrl">
                                <i class="fas fa-file" role="presentation" v-if="!_.model.loading"></i>
                                {{_.model.name}}
                                <button style="border: 0px; background-color: transparent; cursor: pointer;" @click="customItemClick(_.vm, _.model, $event)">
                                    <i class="fas fa-close"></i>
                                </button>
                            </div>
                        </template>
                </v-jstree>
            </div>
            <div class="col">
                <button class="btn btn-azure" @click="addChildNode()">Add</button>
                <button class="btn btn-danger" @click="removeNode()">Remove</button>
            </div>
        </div>
    </div>
</template>
<script>
import VJstree from 'vue-jstree'
export default {
    name: 'Pages',
    components: {
        VJstree
    },
    props: {
        pages: {
            default: []
        }
    },
    data: () => ({
        data: [{
            name:{
                en: "ROOT"
            },
            children:[]
        }],
        selectedItem: {},
        editingNode: null,
    }),
    created () {
        this.data[0]['children'] = JSON.parse(this.pages);
        this.data = this.setItemsName(this.data);
    },
    methods: {
        itemClick (node) {
            this.editingNode = node
            this.editingItem = node.model
            console.log(node.model.name + ' clicked !')
        },
        addChildNode () {
            if (this.editingItem.id !== undefined) {
                this.editingItem.addChild({
                    name: "newNode"
                })
            }
        },
        removeNode () {
            if (this.editingItem.id !== undefined) {
                var index = this.editingNode.parentItem.indexOf(this.editingItem)
                this.editingNode.parentItem.splice(index, 1)
            }
        },
        itemDragStart (node) {
            console.log(node.model.text + ' drag start !')
        },
        itemDragEnd (node) {
            console.log(node.model.text + ' drag end !')
        },
        itemDropBefore (node, item, draggedItem, e) {
            if (!draggedItem) {
                item.addChild({
                    name: "newNode",
                    value: "newNode"
                })
            }
        },
        setItemsName (data) {
            data.map((item) => {
                item.name = item.name.en;
                if (item.children) {
                    this.setItemsName(item.children);
                }
            });
            return data;
        }
    }
}
</script>
