<template>
    <div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Pages tree {{lang.current}}</h3>
                        <div class="card-options">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" placeholder="Search..." v-model="search">
                                <span class="input-icon-addon">
                                    <i class="fe fe-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div :class="['dimmer', {active: loading}]">
                            <div class="loader" v-if="loading"></div>
                            <div class="dimmer-content">
                                <div id="tree">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{selectedItem.text}}</h3>
                        <div class="card-options">
                            <button @click="setStatus()" v-if="Object.keys(selectedItem).length != 0 && selectedItem.id != 0" type="button" :class="['btn btn-sm btn-icon',
                                    Object.keys(selectedItem).length != 0 ? 'btn-'+stColors[selectedItem.data.status] : 'btn-primary']" :disabled="Object.keys(selectedItem).length == 0 ? true : false" :title="'Status:' + selectedItem.data.status">
                                <i class="fas fa-power-off"></i>
                            </button>
                            <a :href="helpers.basePath+`/pages/${selectedItem.id}/edit`" :class="['btn', 'btn-icon', 'btn-warning', 'btn-sm', 'ml-1', {disabled: Object.keys(selectedItem).length == 0 ? true : false}]">
                                <i class="fas fa-pen"></i>
                            </a>
                            <button v-if="Object.keys(selectedItem).length != 0 && selectedItem.id != 0" type="button" @click="deleteItem()" class="btn btn-icon btn-danger btn-sm ml-1" :disabled="Object.keys(selectedItem).length == 0 ? true : false">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Add..." v-model.trim="newItem.text">
                            <span class="input-group-append">
                                <button class="btn btn-azure" type="button" @click="addItem()" :disabled="newItem.text === null">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import '../../plugins/jsTree/jstree.min.js';
export default {
    name: 'Pages',
    props: {
        pages: {
            default: []
        }
    },
    store: ['lang', 'helpers'],
    data: () => ({
        root: {
            text: 'Home',
            icon: "fas fa-home text-primary",
            state: {
                opened: true,
                disabled: false,
                selected: false
            },
            data: { position: 0 },
            a_attr: { id: '0' },
            li_attr: { id: '0' },
            children: [],
        },
        data: {},
        tree: null,
        selectedItem: {},
        newItem: {
            text: null,
            slug: null,
            parent: 0,
            type: 'NOT_OK',
            status: 'draft'
        },
        search: null,
        loading: false,
        stColors: {
            draft: "warning",
            on: "success",
            off: 'danger',
        },
    }),
    created () {
        this.data = JSON.parse(this.pages);
        this.root.children = this.nodes;
    },
    destroyed () {
        this.tree.jstree(true).destroy();
    },
    mounted () {
        this.tree = $('#tree');
        this.initjsTree();
        this.tree.on('select_node.jstree', this.itemClick);
        this.tree.on('move_node.jstree', this.itemDragEnd);
        this.tree.on('ready.jstree after_open.jstree', this.appendTooltips);

    },
    computed: {
        nodes () {
            return this.setItems(this.data);
        }
    },
    watch: {
        search (value) {
            this.tree.jstree(true).search(value);
        },
        'newItem.text' (value) {
            this.newItem.slug = this.$helpers.generateSlug(value);
        }
    },
    methods: {
        initjsTree () {
            this.tree.jstree({
                'core': {
                    'data': this.root,
                    'worker': false,
                    "animation": 0,
                    "check_callback": true,
                    "themes": { "stripes": true, "variant": "large", "dots": true, "ellipsis": true, "name": "default" },
                    "multiple": true,
                    "expand_selected_onload": true
                },
                "plugins": ["changed", "dnd", "wholerow", "types", "search"],
                "checkbox": {
                    "visible": false,
                    "three_state": false,
                    "cascade": "down",
                    "cascade_to_disabled": false
                },
                "types": {
                    "#": {
                        "valid_children": ["root"],
                    },
                    "default": {
                        "icon": "fas fa-file-alt stateTooltip text-success"
                    },
                    "NOT_OK": {
                        "icon": "fas fa-exclamation-triangle stateTooltip text-danger"
                    },
                    "OK": {
                        "icon": "fas fa-file-alt stateTooltip text-success"
                    }
                },
                "search": {
                    "show_only_mathces": true
                }
            });
        },
        onEvent (name, callback) {
            $(document).on(name, callback);
        },
        itemClick (e, data) {
            this.selectedItem = data.node;
            this.tree.jstree(true).get_bottom_selected();
        },
        addItem () {
            if (this.selectedItem.id !== undefined) {
                this.newItem.parent = this.selectedItem.id;
            }
            this.loading = true;
            const self = this;
            axios.post(`/pages/createpage`, this.newItem).then(response => {
                if (response.status == 200) {
                    let page = response.data.node;
                    this.tree.jstree(true).create_node(this.newItem.parent, this.setItemData(page));
                    this.newItem = {
                        text: null,
                        slug: null,
                        parent: 0,
                        type: 'NOT_OK',
                        status: 'draft'
                    }
                }
                this.loading = false;
            }).catch(error => this.loading = false);
        },
        deleteItem () {
            this.loading = true;
            if (this.selectedItem.id !== undefined) {
                const nodes = this.tree.jstree(true).get_selected();
                let ids = nodes.filter(item => item != 0);
                if (nodes.length > 0) {
                    axios.delete(`/pages/${this.selectedItem.id}`, { params: { items: ids.join(",") } }).then(response => {
                        if (response.status == 200) {
                            this.tree.jstree(true).delete_node(ids);
                            this.selectedItem = {};
                        }
                        this.loading = false;
                    }).catch(error => this.loading = false);
                };
            }
        },
        itemDragEnd (e, data) {
            let par = data.instance.get_node(data.parent);
            for (var i = 0, j = par.children.length; i < j; i++) {
                data.instance.get_node(par.children[i]).data.position = i;
            }
            const root = this.tree.jstree(true).get_json("#", { flat: true });
            axios.post(`/pages/sort`, root).then(response => {
                if (response.status == 200) {
                    this.selectedItem = {};
                }
            });
        },
        setItems (data) {
            data.map((item) => {
                item = this.setItemData(item);
                if (item.children) {
                    this.setItems(item.children);
                }
            });
            return data;
        },
        setItemData (item) {
            const stColor = item.status != 'on' ? this.stColors[item.status] : '';
            item.type = item.state.length ? "NOT_OK" : "OK";
            item.text = item.name[this.$store.get('lang', 'default')];
            item.data = { position: item.position, status: item.status };
            item.a_attr = { id: item.id, state: item.state.join('</br>') };
            item.li_attr = { id: item.id, class: stColor };
            return item;
        },
        // appendTooltips () {
        //     $('.jstree-anchor').each(function () {
        //         $(this).find(".stateTooltip").tooltip(
        //             {
        //                 title: $(this).attr('state'),
        //                 html: true,
        //             }
        //         );
        //     });
        // },
        setStatus () {
            this.loading = true;
            let status = null;
            switch (this.selectedItem.data.status) {
                case "draft":
                    status = 'on';
                    break;
                case "off":
                    status = 'draft';
                    break;
                case "on":
                    status = "off"
                    break
            }
            axios.post('/pages/setStatus/' + this.selectedItem.id, { status: status }).then(response => {
                if (response.status == 200) {
                    this.selectedItem.data.status = status;
                }
                this.loading = false
            }).catch(error => this.loading = false);
        }
    }
}
</script>

<style lang="scss">
@import "../../plugins/jsTree/themes/default/style.min.css";
.icons-info {
  font-size: 12px;
  span {
    display: block;
  }
}
</style>
