<template>
    <div>
        <draggable v-model="locales" @start="drag=true" @end="drag=false">
            <transition-group class="row" name="zoomIn">
                <div class="col-md-3 locale-item" v-for="(item, index) in locales" :key="index">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="card-category">
                                {{item.title}}
                            </div>
                            <ul class="list-unstyled leading-loose">
                                <li>
                                    <strong>Slug:</strong> /{{item.slug}}
                                </li>
                                <li>
                                    <strong>Code:</strong> {{item.code}}
                                </li>
                            </ul>
                            <div class="text-center mt-6">
                                <button class="btn btn-icon btn-info" @click.prevent="edit(item)"><i class="fas fa-pencil-alt"></i></button>
                                <button class="btn btn-icon btn-danger" @click.prevent="locales.splice(index,1)"><i class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </transition-group>
        </draggable>
        <div class="modal fade" tabindex="-1" role="dialog" ref="localemodal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New Locale</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" placeholder="Example: Russian" v-model="locale.title">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Slug</label>
                                    <input type="text" class="form-control" placeholder="Example: ru" v-model="locale.slug">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Code</label>
                                    <input type="text" class="form-control" placeholder="Example: ru_RU" v-model="locale.code">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click.prevent="closeModal">Close</button>
                        <button type="button" class="btn btn-primary" @click.prevent="save">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <input :name="name" type="hidden" :value="JSON.stringify(locales)">
    </div>
</template>

<script>
import draggable from 'vuedraggable'
export default {
    name: "Locales",
    props: ['name', 'current'],
    components: { draggable },
    data: () => ({
        locales: [],
        locale: {}
    }),
    created () {
        this.resetLocale();
        this.locales = Object.values(JSON.parse(this.current));
    },
    methods: {
        add () {
            $(this.$refs.localemodal).modal('show')
        },
        edit (item) {
            this.locale = item;
            $(this.$refs.localemodal).modal('show')
        },
        save () {
            const index = this.locales.indexOf(this.locale);
            if (index != -1) {
                this.locales[index] = this.locale;
            } else {
                this.locales.push(this.locale);
            }
            this.resetLocale();
            $(this.$refs.localemodal).modal('hide')
        },
        closeModal () {
            this.resetLocale();
            $(this.$refs.localemodal).modal('hide')
        },
        resetLocale () {
            this.locale = {
                title: null,
                slug: null,
                code: null,
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.locale-item {
  cursor: move;
}
</style>