@keyframes burst {
  20% {
    transform: translate3d(21px, -31px, -67.2px);
  }
  40% {
    transform: translate3d(42px, -62px, -135px);
  }
  60% {
    transform: translate3d(0, 0, 0);
  }
  80% {
    transform: translate3d(21px, -31px, -67.2px);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shakes {
  10% {
    -webkit-transform: translate(5px, 2px);
    transform: translate(5px, 2px);
  }
  20% {
    -webkit-transform: translate(1px, 2px);
    transform: translate(1px, 2px);
  }
  30% {
    -webkit-transform: translate(4px, 3px);
    transform: translate(4px, 3px);
  }
  40% {
    -webkit-transform: translate(2px, 1px);
    transform: translate(2px, 1px);
  }
  50% {
    -webkit-transform: translate(4px, 3px);
    transform: translate(4px, 3px);
  }
  60% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px);
  }
  70% {
    -webkit-transform: translate(2px, 4px);
    transform: translate(2px, 4px);
  }
  80% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  90% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}