.accordionContent {
  width: 100%;
  max-height: 415px;
  display: flex;
  align-items: center;
  justify-content: center; // border: 1px solid #D89F41;
  padding: 40px 20px 0 20px;
}

.no-border {
  border: none !important;
}

.accIconActive {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -15px;
}

.mb {
  margin-top: 10px;
  margin-bottom: 10px;
}
.hidden{
  display: none;
}

.align-left {
  float: left;
}
.align-right {
  float: right;
}
.align-center {
  margin: 0 auto;
}
.gold-text {
  color: #D89F41;
}