@mixin font($type: main, $weight: normal) {
  font-family: map-get($fonts, $type), sans-serif;
  font-weight: $weight;
}

@mixin main-gradient {
  background: radial-gradient(circle at 1.98% 13.04%, #FF512F, transparent 100%), radial-gradient(circle at 98.02% 28.95%, #DD2476, transparent 100%), radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
}

@mixin gradient {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

@mixin filter($filter-type, $filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}

@mixin box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

$breakpoints-bs: ( 'xxs': 320px, 'xs': 540px, 'sm': 800px, 'md': 990px, 'lg': 1200, 'xl': 1600px);
@mixin bs-mq($width, $type: max) {
  @if map_has_key($breakpoints-bs, $width) {
    $width: map_get($breakpoints-bs, $width);
    @if $type==max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width: $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  >* {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $item-size;
    height: $item-size;
    margin: -($item-size / 2);
    $angle: (360 / $item-count);
    $rot: 0;
    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
      }
      $rot: $rot+$angle;
    }
  }
}