/* FONTS ___________________________________________________________________________________________________*/
$fonts: (
	main: Montserrat,
	secondary: Montserrat Alternates,
	third: Song Myung
);

/* END FONTS _____________________________________________________________________________________________ */

/* COLORS _____________________________________________________________________________________________ */

$white: #FFFFFF;
$black:#000000;
$easy-dark:#1D1D1D;
$easy-grey:#F5F5F5;
$grey: #E5E5E5;
$carrot: #F2901D;

$light: $white;
$dark: $black;
$pale: $easy-grey;
$accent-1: $carrot;
$accent-2: $grey;


/* END COLORS _____________________________________________________________________________________________ */