@import "theme/skylith";
@import "aimations";
@import "helpers";
@import 'mixins';

div.lead,
.nk-heading-font,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-big,
.display-extra-big {
	font-weight: 400;
}

html, body {
	background-color: #000;
}

#content {
	transition: all 2s cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
	opacity: 0;
	padding-top: 500px;

	&.enter {
		padding-top: 0;
		opacity: 1;
	}
}

.scene--full {
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
}

.bg-transparent {
	background-color: transparent;
}

.welcome-text {
	font-size: 9rem;
	text-transform: uppercase;
	transition: all .5s;
	cursor: pointer;
	@include bs-mq("sm") {
		font-size: 7rem;
	}
	@include bs-mq("xs") {
		font-size: 3rem;
	}

	&:hover {
		text-shadow: 0 0 50px red !important;
	}

	//span {
	//  font-size: 1.2em;
	//}
}

.person {
	.person-photo {
		transition: all .3s;
		filter: grayscale(100%);
	}

	&:hover {
		.person-photo {
			filter: grayscale(0);
		}
	}
}

.nk-fullpage-bg-image-custom {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url("/site/img/wwa-sec-icon.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	@include bs-mq("sm") {
		width: 100%;
	}
}

.r-head {
	@include bs-mq("xxs", "min") {
		font-size: 1.8em !important;
	}
	@include bs-mq("xs", "min") {
		font-size: 1.9em !important;
	}
	@include bs-mq("sm", "min") {
		font-size: 1.6em !important;
	}
	@include bs-mq("md", "min") {
		font-size: 1.8em !important;
	}
	@include bs-mq("lg", "min") {
		font-size: 2.8em !important;
	}
	@include bs-mq("xl", "min") {
		font-size: 3.5em !important;
	}
}

.r-text {
	@include bs-mq("xxs", "min") {
		font-size: .85em !important;
	}
	@include bs-mq("xs", "min") {
		font-size: .7em !important;
	}
	@include bs-mq("sm", "min") {
		font-size: 0.9em !important;
	}
	@include bs-mq("md", "min") {
		font-size: 1em !important;
	}
	@include bs-mq("lg", "min") {
		font-size: 1.5em !important;
	}
	@include bs-mq("xl", "min") {
		font-size: 1.5em !important;
	}
}

.r-desc {
	@include bs-mq("xxs", "min") {
		font-size: 1em !important;
	}
	@include bs-mq("md", "min") {
		font-size: 1.1em !important;
	}
	@include bs-mq("xl", "min") {
		font-size: 1.5em !important;
	}
}

.nk-tabs .nav-tabs-styled li + li {
	@include bs-mq("xs") {
		padding-left: 10px !important;
	}
}

.nk-tabs .nav-tabs {
	@include bs-mq("xs") {
		margin-bottom: 5px;
	}
}

.tab-link {
	@include bs-mq("xl", "min") {
		font-size: 2em !important;
	}
}

.optimize-h {
	@include bs-mq("xs") {
		max-height: 450px;
	}
}

.welcome-page-slogan {
	@include bs-mq("xs") {
		font-size: 1.8rem;
	}
}

.brand-hover-effect {
	transition: all .5s;

	&:hover {
		text-shadow: 0 0 50px red !important;
	}
}

.oswald {
	font-family: "Oswald", sans-serif;
}

.main-font {
	font-family: 'Eras Light ITC', serif !important;
	font-weight: 300;
	font-style: normal;
}

.big-padding {
	padding-top: 200px;
}

.our-team {
	@include bs-mq("xs") {
		height: 80vh;
	}
}

@media (min-height: 500px) and (min-width: 580px) {
	/* CSS stuff */
}

.max-width {
	max-width: 1920px !important;
	margin: 0 auto;
}

.nk-fullpage .nk-fullpage-bg-image {
	background-size: 95%;
	background-repeat: no-repeat;
	background-position-x: 60%;
}

.bottom-20 {
	@include bs-mq("sm") {
		bottom: 20px !important;
	}
}

.full-height {
	height: 100% !important;
}

.height-80 {
	height: 80% !important;
	color: #030506;
}

.rocket-svg {
	width: 60%;
	transition: all 1s;
	animation: shakes 1s linear infinite;

	.rocket-fire {
		transition: all 1s;
		animation: burst 1s linear infinite;

	}
}

.nk-navbar-solid {
	background-color: #000000 !important;
}

.contact-social {
	a {
		font-size: 18px !important;
		margin: 0 2px;
	}
}

.logo {
	width: 90px;
	@include bs-mq('xs') {
		width: 60px;
	}
}

.nk-fullpage-nav {
	@include bs-mq('xs') {
		display: none;
		//color: #fe0e55;
	}
}

.nk-navbar {
	@include bs-mq('xs') {
		padding-top: 20px;
		padding-bottom: 10px;
	}
}

.nk-nav-header {
	@include bs-mq('xs') {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
}

.nk-tabs {
	.nav-item {
		@include bs-mq('xs') {
			&:before {
				display: none !important;
			}
			a {
				padding: 10px 0 !important;
			}
		}
	}
}

.nk-isotope-filter {
	li {
		&:hover, &.active {
			color: #46000f !important;
		}
	}
}

.nk-fullpage-nav {
	display: none;
}

.nk-fullpage-content {
	@include bs-mq('xxs') {
		background-color: rgba(0, 0, 0, 0.8);
	}
}

.nk-navbar {
	@include bs-mq('sm') {
		padding-top: 5px;
	}
}

.portfolio-show {
	#portfolio-separator {
		&:before {
			content: "";
			height: 0;
			position: absolute;
			top: 0;
			left: -10px;
			width: 1px;
			background: #ffffff;
			transition: all 0.3s;
		}

		&.show-line {
			&:before {
				height: 100%;
			}
		}
	}

	.portfolio-content {
		color: #ffffff;

		h3 {
			color: #ffffff;
			text-transform: uppercase;
			position: relative;
			margin-bottom: 20px;
		}

		.line {
			width: 0;
			height: 1px;
			background: #ffffff;
			position: absolute;
			display: block;
		}

		span {
			font-size: 18px;
			text-transform: uppercase;
			margin-bottom: 8px;
			display: block;
		}
	}
}

.nk-rotatable-text {
	width: 100%;
	height: 60px;
	top: 27%;
	@include bs-mq('xxs', 'min') {
		top: 70px;
	}
	@include bs-mq('xs', 'min') {
		top: 38%;
	}
	@include bs-mq('sm', 'min') {
		top: 37%;
	}
	@include bs-mq('md', 'min') {
		top: 40%;
	}
	@include bs-mq('lg', 'min') {
		top: 20%;
	}
	@include bs-mq('xl', 'min') {
		top: 33%;
	}
}

.nk-portfolio-item-cs {
	position: relative;
	//margin-bottom: 5px;
	height: 100%;

	.nk-portfolio-item-info {
		background: #46000f;
		height: 100%;
	}

	.nk-portfolio-item-play-cs {
		width: 60px;
		height: 60px;
		margin: -50px auto 0 auto;
		border-radius: 50%;
		background: #46000f;
		border: 1px solid #ffffff;
		transition: all 0.3s;
		cursor: pointer;
		color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 32px;

		i {
			margin-left: 8px;
		}

		&:hover {
			box-shadow: 0 0 10px #000000;
		}
	}
}

//.nk-footer {
//	position: absolute;
//	overflow: hidden;
//	z-index: 1;
//	width: 100%;
//	bottom: 0;
//}

.link-reset {
	text-decoration: none !important;
}

.gallery-item {
	.gallery-item-image {
		transition: all .3s;
		filter: grayscale(100%);
	}

	&:hover {
		.gallery-item-image {
			filter: grayscale(0);
		}
	}
}

.nk-portfolio-item-gallery {
	&:hover {
		.nk-portfolio-item-video-cover {
			.video-play {
				opacity: 1;
				transform: scale(1);
			}
		}
	}

	.nk-portfolio-item-video-cover {
		position: relative;

		.video-play {
			transition: all 0.3s;
			opacity: 0;
			transform: scale(.5);
			position: absolute;
			left: calc((100% / 2) - 35px);
			top: calc((100% / 2) - 35px);
			height: 70px;
			width: 70px;
			border-radius: 50%;
			background: #46000f;
			color: #FFFFFF;
			border: 1px solid #FFFFFF;
			font-size: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}

.lds-ellipsis div {
	position: absolute;
	top: 27px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
	left: 6px;
	animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
	left: 6px;
	animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
	left: 26px;
	animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
	left: 45px;
	animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(19px, 0);
	}
}

.async-added {
	transition: all 0.3s;
	animation: z-in 0.3s;
}

@keyframes z-in {
	0% {
		transform: scale(0.5);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.spinner {
	width: 40px;
	height: 40px;
	margin: 100px auto;
	background-color: #333;

	border-radius: 100%;
	-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
	animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
	0% { -webkit-transform: scale(0) }
	100% {
		-webkit-transform: scale(1.0);
		opacity: 0;
	}
}

@keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 100% {
		  -webkit-transform: scale(1.0);
		  transform: scale(1.0);
		  opacity: 0;
	  }
}