<template>
    <div class="keyvaluebox">
        <transition-group name="fadeInDown">
            <div :class="['row mb-4 keyvalitem', {child:item.parent !== null}]" :ref="'keyvalitem'+index"
                 v-for="(item, index) in data" :key="index">
                <div class="col-md-5 d-flex align-items-center justify-content-center">
                    <div class="input-group keyvalkey">
                        <div class="input-group-prepend keyvaldelete">
                            <button type="button" class="btn btn-danger" @click="data.splice(index,1)"><i
                                    class="fas fa-trash"></i></button>
                        </div>
                        <input type="text" class="form-control" v-model="data[index].key" placeholder="Key">
                        <div class="input-group-append keyvaltype" v-if="types.length > 1">
                            <select class="form-control custom-select bg-azure text-white" v-model="data[index].type"
                                    @change="typeChanged(index)">
                                <option v-for="(type, index) in types" :key="index" :value="type">{{type}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-1 p-0 d-flex align-items-center justify-content-center">
                    <div class="text-center keyvalarrow"> -->
                <!-- <a href="#" class="link-reset" v-if="item.parent == null" @click.prevent="addChild(index)">+</a>  -->
                <!-- &rarr; -->
                <!-- </div>
            </div> -->
                <div class="col-md-7 keyval-value">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100 translatable">
                        <div class="w-100" v-if="item.type === 'text'">
                            <div class="input-group">
                                <input type="text" class="form-control" v-if="data[index].multilang"
                                       v-model="data[index].value[$store.lang.current]" placeholder="Value">
                                <input type="text" class="form-control" v-else v-model="data[index].value"
                                       placeholder="Value">
                                <span class="input-group-append">
                                    <button :class="['btn', data[index].multilang ? 'btn-purple' : 'btn-secondary']"
                                            @click.prevent="changeMultilang(index)"><i
                                            class="fas fa-globe"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="w-100" v-if="item.type === 'textarea'">
                            <div class="input-group">
                                <textarea class="form-control" cols="30" v-if="data[index].multilang" rows="10"
                                          v-model="data[index].value[$store.lang.current]"
                                          placeholder="Value"></textarea>
                                <textarea class="form-control" cols="30" v-else rows="10" v-model="data[index].value"
                                          placeholder="Value"></textarea>
                                <span class="input-group-append">
                                    <button :class="['btn', data[index].multilang ? 'btn-purple' : 'btn-secondary']"
                                            @click.prevent="changeMultilang(index)"><i
                                            class="fas fa-globe"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="w-100" v-if="item.type === 'image'">
                            <img-input root="/uploads" :current="data[index].value"
                                       v-model="data[index].value"></img-input>
                        </div>
                        <div class="w-100" v-if="item.type === 'cropableimage'">
                            <img-crop name="image" :min-size="{width: 150, height:150}" class="keyvalimage"
                                      v-model="data[index].value"
                                      :current="JSON.stringify(data[index].value)"></img-crop>
                        </div>
                        <div class="w-100" v-if="item.type === 'file'">
                            <file-input class-name="form-control" v-model="data[index].value"
                                        :current="data[index].value"></file-input>
                        </div>
                        <div class="w-100" v-if="item.type === 'editor'">
                            <tinymce name="text" class="keyvaleditor" v-on:contentChange="contentChange(index,$event)"
                                     :current="data[index].value"></tinymce>
                        </div>
                    </div>
                </div>
            </div>
        </transition-group>
        <input type="hidden" :name="name" :value="strData" id="keyvalValueInput">
        <div class="row mt-4">
            <div class="col-12">
                <div class="text-right">
                    <button class="btn btn-icon btn-azure" @click.prevent="add()"><i class="fas fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import imgCrop from '../ImgCrop/img-crop.slim'
    import tinymce from '../Form/tinymce'
    import fileInput from '../Form/fileinput'
    import imgInput from '../Form/imginput'

    export default {
        name: "Keyvalue",
        props: ['name', 'current', 'valueTypes'],
        components: {imgCrop, tinymce, imgInput, fileInput},
        data: () => ({
            types: ['text', 'cropableimage', 'image', 'file', 'textarea', 'editor'],
            data: []
        }),
        computed: {
            strData() {
                return JSON.stringify(this.data);
            }
        },
        watch: {
            strData(value) {
                this.$emit('input', this.data);
            }
        },
        created() {
            if (this.valueTypes !== undefined && this.valueTypes !== null) {
                this.types = this.valueTypes.split(',');
            }
            if (this.current !== undefined && this.current !== null) {
                this.data = this.current;
            } else {
                this.add();
            }
        },
        methods: {
            add() {
                this.data.push({
                    key: null,
                    value: {},
                    parent: null,
                    color: this.$helpers.randomColor(),
                    multilang: true,
                    type: this.types[0]
                })
            },
            contentChange(index, event) {
                this.data[index].value = event;
                $('#keyvalValueInput').val(JSON.stringify(this.data));
            },
            changeMultilang(index) {
                this.data[index].multilang = !this.data[index].multilang;
                if (typeof this.data[index].value === "string") {
                    return this.data[index].value = {};
                }
                this.data[index].value = "";
            },
            typeChanged(index) {
                switch (this.data[index].type) {
                    case "file":
                    case "image":
                        this.data[index].value = "";
                        break;
                    default:
                        this.data[index].value = {};
                        break;
                }
                switch (this.data[index].type) {
                    case "file":
                    case "image":
                    case "cropableimage":
                        this.data[index].multilang = false;
                        break;
                    default:
                        this.data[index].multilang = true;
                        break;
                }
            },
            addChild(index) {
                this.data.splice(index + 1, 0, {
                    key: null,
                    value: {},
                    parent: index,
                    color: this.data[index].color,
                    multilang: true,
                    type: this.types[0]
                });
            }
        }
    }
</script>

<style lang="scss">
    .keyvaluebox {
        // overflow-x: hidden;
        // overflow-y: auto;
    }

    .keyvalarrow {
        font-size: 25px;
        color: teal;
    }

    .keyval-value {
        max-height: 500px;
    }

    .keyvalimage {
        display: flex;
        align-items: center;
        justify-content: center;
        .slim {
            max-height: 300px !important;
        }
    }

    .keyvaldelete {
        transition: all 0.3s;
        transform: translateX(150%);
    }

    .keyvaltype {
        cursor: pointer;
        transition: all 0.3s;
        transform: translateY(-150%);
    }

    .keyvalkey {
        overflow: hidden;
        input,
        input:focus {
            background: #3b3b3b;
            color: #ffffff;
        }
        &:hover {
            .keyvaldelete {
                transform: translateX(0);
            }
            .keyvaltype {
                transform: translateY(0);
            }
        }
    }

    .keyvalitem {
        padding: 10px;
        border-left: 3px solid #780adf;
        &:nth-of-type(odd) {
            background: #f5f2f2;
        }
        &.child {
            position: relative;
            &:before {
                content: "";
                width: 3px;
                height: 150%;
                position: absolute;
                left: -3px;
                bottom: 0px;
                background: #780adf;
            }
        }
    }
</style>
