// main colors
$color_main: #b9a186 !default;

$color_text: #5f5f5f !default;
$color_text_blog: #4b4b4b !default;
$color_titles: #171717 !default;
$color_bg: #f6f6f6 !default;
$color_bg_footer: #ebebeb !default;

// dark content style
$dark_color_text: #cbcbcb !default;
$dark_color_titles: #fff !default;

// dark colors
$color_dark_main: #101010 !default;
$color_dark_05: lighten($color_dark_main, 3%) !default;
$color_dark_1: lighten($color_dark_main, 8.4%) !default;
$color_dark_2: lighten($color_dark_1, 4%) !default;
$color_dark_3: lighten($color_dark_1, 8%) !default;
$color_dark_4: lighten($color_dark_1, 12%) !default;

// gray colors
$color_gray_mid: #8e8e8e !default;
$color_gray_1: #fafafa !default;
$color_gray_2: darken($color_gray_1, 1%) !default;
$color_gray_3: darken($color_gray_1, 2%) !default;
$color_gray_4: darken($color_gray_1, 3%) !default;
$color_gray_5: darken($color_gray_1, 4%) !default;
$color_gray_6: darken($color_gray_1, 5%) !default;
$color_gray_7: #d9d9d9 !default;

// main colors list
$colors: (
    "main"    : $color_main,
    "white"   : #fff,
    "black"   : #000,
    "dark"    : $color_dark_main,
    "dark-05" : $color_dark_05,
    "dark-1"  : $color_dark_1,
    "dark-2"  : $color_dark_2,
    "dark-3"  : $color_dark_3,
    "dark-4"  : $color_dark_4,
    "gray-1"  : $color_gray_1,
    "gray-2"  : $color_gray_2,
    "gray-3"  : $color_gray_3,
    "gray-4"  : $color_gray_4,
    "gray-5"  : $color_gray_5,
    "gray-6"  : $color_gray_6,
    "gray-7"  : $color_gray_7,
    "gray": $color_gray_mid
) !default;

// Social colors
$colors_social: (
    "rss": #e06618,
    "behance": #487cfb,
    "bitbucket": #36517e,
    "dropbox": #4d86d9,
    "dribbble": #ea4c89,
    "deviantart": #4a5d4e,
    "facebook": #3b5998,
    "flickr": #f40083,
    "foursquare": #fc4575,
    "github": #464646,
    "google-plus": #df4a32,
    "instagram": #c32aa3,
    "linkedin": #007bb6,
    "medium": #71c66d,
    "odnoklassniki": #d8732a,
    "paypal": #1d3283,
    "pinterest": #cb2027,
    "reddit": #ff5700,
    "skype": #00aff0,
    "soundcloud": #f50,
    "slack": #543b56,
    "steam": #272425,
    "snapchat": #fffc00,
    "swarm": #ffb000,
    "stumbleupon": #eb4924,
    "spotify": #1ed760,
    "tumblr": #2c4762,
    "twitch": #5c43a1,
    "twitter": #00b6f1,
    "vimeo": #45bbff,
    "vk": #657da0,
    "wordpress": #4072a1,
    "youtube": #f00
) !default;
@font-face {
    font-family: 'Eras Light ITC';
    src: url('/site/fonts/eras/ErasITC-Light.woff2') format('woff2'),
    url('/site/fonts/eras/ErasITC-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

// fonts
$font_headings: "Eras Light ITC", serif !default;
$font_body: "Eras Light ITC", sans-serif !default;
$font_blockquote: "Eras Light ITC", serif !default;
$html_font_size: 15px !default;
$body_line_height: 1.65 !default;
$body_letter_spacing: .004em !default;

// navbar
$navbar_left_size: 80px !default;

// media variables
$media_xxs:           "(max-width: 575px)" !default;
$media_xs:            "(max-width: 767px)" !default;
$media_sm:            "(min-width: 767px) and (max-width: 991px)" !default;
$media_md:            "(min-width: 992px) and (max-width: 1199px)" !default;
$media_lg:            "(min-width: 1200)" !default;

// additional variables
$media_smaller_xs:    "(max-width: 767px)" !default;
$media_smaller_sm:    "(max-width: 991px)" !default;
$media_smaller_md:    "(max-width: 1199px)" !default;
$media_larger_xs:     "(min-width: 576px)" !default;
$media_larger_sm:     "(min-width: 768px)" !default;
$media_larger_md:     "(min-width: 992px)" !default;
$media_larger_lg:     "(min-width: 1200px)" !default;

// Functions.
@function replace($list, $old-value, $new-value, $recursive: false) {
    $result: ();

    @for $i from 1 through length($list) {
        @if type-of(nth($list, $i)) == list and $recursive {
            $result: append($result, replace(nth($list, $i), $old-value, $new-value, $recursive));
        }

        @else {
            @if nth($list, $i) == $old-value {
                $result: append($result, $new-value);
            }

            @else {
                $result: append($result, nth($list, $i));
            }
        }
    }

    @return $result;
}
