@font-face {
    font-family: 'Eras Light ITC';
    src: url('ErasITC-Light.woff2') format('woff2'),
        url('ErasITC-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

