<template>
	<div>
		<div id="gjs"></div>
	</div>
</template>

<script>
import grapesjs from 'grapesjs';
import 'grapesjs-preset-webpage';
export default {
	name: "Grape",
	data: () => ({
		editor: null,
	}),
	mounted () {
		this.editor = this.init();
		this.initAssetManager();
		this.addBlocks();
	},
	methods: {
		init () {
			return grapesjs.init({
				container: '#gjs',
				plugins: ['gjs-preset-webpage'],
				storageManager: {
					id: 'gjs-',             // Prefix identifier that will be used on parameters
					type: 'remote',          // Type of the storage
					autosave: false,         // Store data automatically
					autoload: false,         // Autoload stored data on init
					stepsBeforeSave: 1,     // If autosave enabled, indicates how many changes are necessary before store method is triggered
				},
				pluginsOpts: {
					'gjs-preset-webpage': {
						'formsOpts': false,
						'countdownOpts': false,
						'navbarOpts': false,
						'blocksBasicOpts': {
							'blocks': ['image', 'video', 'map']
						},
					}
				}
			})
		},
		addBlocks () {
			this.editor.BlockManager.add('new-block', {
				category: 'Froala Blocks',
				label:"YES",
				attributes: { class: 'fa fa-link' },
				content: ""
			});
			// content: {
			// 		tagName: 'div',
			// 		draggable: true,
			// 		attributes: { 'some-attribute': 'some-value' },
			// 		components: [
			// 			{
			// 				name:"TEST",
			// 				icon:"fas fa-home",
			// 				tagName: 'span',
			// 				content: '<b>Some static content</b>',
			// 			}, {
			// 				tagName: 'div',
			// 				// use `content` for static strings, `components` string will be parsed
			// 				// and transformed in Components
			// 				components: '<span>HTML at some point</span>',
			// 			}
			// 		]
			// 	}
		},
		initAssetManager () {
			this.editor.Commands.add('open-assets', {
				run (editor, sender, opts = {}) {
					const assettarget = opts.target;
					moxman.browse({
						view: 'thumbs',
						oninsert (args) {
							assettarget.set('src', '/uploads' + args.focusedFile.path);
						}
					});
				}
			});
		},
		loadBlocks () {
			axios.get('/')
		}
	}
}
</script>

<style lang="scss">
@import "~grapesjs/dist/css/grapes.min.css";
@import "~grapesjs-preset-webpage/dist/grapesjs-preset-webpage.min.css";
#gjs {
  border: 5px solid #1a1a1a;
}
/* Theming */

/* Primary color for the background */
.gjs-one-bg {
  background-color: #1a1a1a;
}

/* Secondary color for the text color */
.gjs-two-color {
  color: rgba(255, 255, 255, 0.7);
}

/* Tertiary color for the background */
.gjs-three-bg {
  background-color: #1a1a1a;
  color: white;
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
  color: #66ff00;
}
</style>