
    <section class="section mceNonEditable">
        <div class="container mceNonEditable">
            <div class="sixteen columns mceNonEditable">
                <div class="blockquotes-box-1 white-section">
                    <p class="mceEditable"><span class="mceNonEditable">&#xf10e;</span>
                        QUOTE
                      </p>
                    <div class="name-of-qu mceEditable">- John Doe, CompanyName</div>
                </div>
            </div>
        </div>
    </section>


