
    <section class="section white-section mceNonEditable">
        <div class="container mceNonEditable">
            <div class="eight columns mceEditable">
                <p>Content</p>
            </div>
            <div class="eight columns mceEditable">
                <p>Content</p>
            </div>
        </div>
    </section>