
    <section class="section white-section mceNonEditable">
        <div class="office-1 mceNonEditable">
            <div class="box-1 mceEditable">
                <img src="/site/img/office1.jpg" alt="">
            </div>
            <div class="box-1 mceNonEditable">
                <div class="text-in mceNonEditable">
                    <div class="section-title left office-text mceEditable">
                        <h3>OFFICE QUICK VIEW</h3>
                        <div class="subtitle left">WE'RE A SMALL, FRIENDLY AND <span
                                class="subtitle-written">TALENTED</span> TEAM
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
