<template>
	<div class="row">
		<div class="col-md-12">
			<draggable v-model="items" @start="drag=true" @end="drag=false">
				<transition-group name="fadeInDown">
					<div class="form-group" v-for="(item, index) in items" :key="index">
						<div class="input-group">
							<input class="form-control"  type="text" v-model="items[index].name[$store.lang.current]" placeholder="Name">
							<div class="input-group-append">
								<button class="btn btn-danger" @click.prevent="items.splice(index, 1)"><i class="fas fa-trash"></i></button>
								<button class="btn btn-azure drag"><i class="fas fa-ellipsis-h"></i></button>
							</div>
						</div>
					</div>
				</transition-group>
			</draggable>
			<input type="hidden" :name="name" :value="JSON.stringify(items)">
			<div class="col-12 p-0 text-right">
				<button class="btn btn-icon btn-purple" @click.prevent="items.push({name:{},slug:null})"><i class="fas fa-plus"></i></button>
			</div>
		</div>
	</div>
</template>

<script>
import draggable from 'vuedraggable'
export default {
	name: "PortfoloCategories",
	props: ['name','current'],
	components: { draggable },
	data: () => ({
		items: [{
			name: {},
			slug: null
		}],
	}),
	created () {
		if(this.current !== undefined && this.current !== null) {
			this.items = JSON.parse(this.current);
		}
	}
}
</script>
<style lang="scss">
.drag {
  cursor: ns-resize !important;
}
</style>
