<template>
	<div>
		<draggable class="portfolio-items d-flex" v-model="items" @start="drag=true" @end="drag=false">
			<transition-group name="zoomIn">
				<div v-for="(item, index) in items" :key="index">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">{{item.name[$store.lang.current]}}</h3>
							<div class="card-options">
								<a href="#" class="card-options-collapse" @click.prevent="" data-toggle="card-collapse"
								   @click.prevent="editItem(item)"><i class="fas fa-pencil-alt"></i></a>
								<a href="#" class="card-options-remove" @click.prevent="items.splice(index, 1)"
								   data-toggle="card-remove"><i class="fe fe-x"></i></a>
							</div>
						</div>
						<div class="card-body">
							<div v-if="item.type === 'image'">
								<img :src="item.content.image.path" class="img-fluid" alt="">
							</div>
							<div v-if="item.type === 'video'">
								<iframe v-if="item.content.video.id != null"
								        :src="typeLinks[item.content.video.type] + item.content.video.id" width="100%" height="auto"
								        frameborder="0"></iframe>
							</div>
						</div>
					</div>
				</div>
			</transition-group>
		</draggable>
		<input type="hidden" :name="name" :value="JSON.stringify(items)">
		<div class="text-right">
			<button class="btn btn-icon btn-purple" @click.prevent="addItem()"><i class="fas fa-plus"></i></button>
		</div>
		<div class="modal fade" ref="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModeLabel"
		     aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">New item</h5> &nbsp;
						<language-toggler></language-toggler>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-8 translatable">
								<label class="form-label">Name</label>
								<input type="text" id="categoryname" class="form-control" v-model="newItem.name[$store.lang.current]"
								       placeholder="Name">
							</div>
							<div class="col-md-4">
								<label class="form-label">Category</label>
								<select class="form-control custom-select" v-model="newItem.category">
									<option value="choose" disabled>Select</option>
									<option v-for="(item, index) in cats" :key="index" :value="item.name[$store.lang.default]">
										{{item.name[$store.lang.current]}}
									</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5 mt-2">
								<label class="form-label">Type</label>
								<select class="form-control custom-select" v-model="newItem.type">
									<option value="image">Image</option>
									<option value="video">Video</option>
								</select>
								<div class="mt-2" v-if="newItem.type === 'video'">
									<select class="form-control custom-select" v-model="newItem.content.video.type">
										<option value="vimeo">Vimeo</option>
										<option value="youtube">Youtube</option>
									</select>
								</div>
								<div class="mt-2" v-if="newItem.type === 'video'">
									<input type="text" class="form-control" v-model="newItem.content.video.id"
									       placeholder="Paste youtube or vimeo video ID">
								</div>
							</div>
							<div class="col-md-7 mt-2">
								<div>
									<img-crop v-if="modal" name="image" :min-size="{width: 300, height:200}" :max-size="{width: 600, height:400}"
									          v-on:imageChange="imageChanged" :current="JSON.stringify(newItem.content.image)"></img-crop>
								</div>
								<div v-if="newItem.type === 'video'">
									<label class="form-label">Preview</label>
									<iframe class="preview-video" v-if="newItem.content.video.id != null"
									        :src="typeLinks[newItem.content.video.type] + newItem.content.video.id" width="100%"
									        height="auto" frameborder="0"></iframe>
								</div>
							</div>
						</div>
						<div class="row mt-5">
							<div class="col-12">
								<keyvalue name="keyvalue" v-if="modal" v-model="newItem.content.params"
								          :current="newItem.content.params" value-types="text"></keyvalue>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" @click.prevent="closeModal">Close</button>
						<button type="button" class="btn btn-primary" @click.prevent="saveItem">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import draggable from 'vuedraggable'
	import imgCrop from '../ImgCrop/img-crop.slim'
	import languageToggler from '../Language-toggler/language-toggler'
	import keyvalue from '../KeyValue/keyvalue'

	export default {
		name: "PortfolioItems",
		props: [ 'name', 'available', 'categories' ],
		components: { draggable, imgCrop, languageToggler, keyvalue },
		data: () => ({
			items: [],
			newItem: {
				type: 'video',
				slug: null,
				name: {},
				info: {},
				category: null,
				content: {
					image: {},
					video: {
						id: null,
						type: 'youtube'
					},
					params: null
				},
				keywords: {},
				description: {}
			},
			typeLinks: {
				youtube: 'https://www.youtube.com/embed/',
				vimeo: 'https://player.vimeo.com/video/'
			},
			cats: {},
			modal: false
		}),
		created () {
			this.cats = JSON.parse( this.categories );
			if ( this.available !== undefined && this.available !== null ) {
				this.items = JSON.parse( this.available );
			}
		},
		watch: {
			'newItem.content.video.id' ( value ) {
				if ( isNaN( value ) ) {
					this.newItem.content.video.type = 'youtube';
				} else {
					this.newItem.content.video.type = 'vimeo';
				}
			}
		},
		methods: {
			addItem () {
				$( this.$refs.itemModal ).modal( 'show' )
				this.modal = true;
			},
			imageChanged ( value ) {
				this.newItem.content.image = value;
			},
			saveItem () {
				const index = this.items.indexOf( this.newItem );
				if ( index !== -1 ) {
					this.items[ index ] = this.newItem;
				} else {
					this.items.push( this.newItem );
				}
				this.resetNewItem();
				$( this.$refs.itemModal ).modal( 'hide' );
				this.modal = false;
			},
			closeModal () {
				this.resetNewItem();
				$( this.$refs.itemModal ).modal( 'hide' );
				this.modal = false;
			},
			editItem ( item ) {
				this.newItem = item;
				this.addItem();
			},
			resetNewItem () {
				this.newItem = {
					type: 'video',
					slug: null,
					name: {},
					info: {},
					category: null,
					content: {
						image: {},
						video: {
							id: null,
							type: 'youtube'
						},
						params: null
					},
					keywords: {},
					description: {}
				}
			}
		}
	}
</script>

<style lang="scss">
	.portfolio-items {
		> span {
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			> div {
				cursor: move;
				width: calc(100% / 4);
				padding: 5px;
				@media only screen and (max-width: 768px) {
					width: calc(100% / 2);
				}
				@media only screen and (max-width: 480px) {
					width: 100%;
				}
			}
		}
	}

	.preview-video {
		border: 1px solid #1a1a1a;
	}
</style>
