<template>
    <div>
        <draggable class="gallery-items d-flex" v-model="items" @start="drag=true" @end="drag=false">
            <transition-group name="zoomIn">
                <div v-for="(item, index) in items" :key="index">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{{item.name[$store.lang.current]}}</h3>
                            <div class="card-options">
                                <a href="#" class="card-options-collapse" data-toggle="card-collapse"
                                   @click.prevent="edit(index)">
                                    <i class="fe fe-edit-2"></i>
                                </a>
                                <a href="#" class="card-options-remove" @click.prevent="items.splice(index, 1)"
                                   data-toggle="card-remove">
                                    <i class="fe fe-x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" v-if="$store.gallery.type === 'comparison'">
                                <div class="col-md-6">
                                    <img :src="item.images['comparison'].before.path">
                                </div>
                                <div class="col-md-6">
                                    <img :src="item.images['comparison'].after.path">
                                </div>
                            </div>
                            <div class="row" v-if="$store.gallery.type === 'slider'">
                                <div class="col-12">
                                    <img :src="item.images['slider'].path">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition-group>
        </draggable>
        <div class="text-right">
            <button class="btn btn-icon btn-purple" @click.prevent="add()"><i class="fas fa-plus"></i></button>
        </div>
        <div ref="itemModal" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" v-if="selected !== null">
                    <div class="modal-header">
                        <language-toggler></language-toggler>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group translatable">
                                    <label class="form-label">Title</label>
                                    <input type="text" class="form-control"
                                           v-model="selected.name[$store.lang.current]">
                                </div>
                                <div class="form-group translatable">
                                    <label class="form-label">Description</label>
                                    <textarea class="form-control"
                                              v-model="selected.description[$store.lang.current]"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div v-if="$store.gallery.type === 'comparison'">
                                    <div class="form-group">
                                        <label class="form-label">Before</label>
                                        <img-crop name="image"
                                                  :min-size="{width: 300, height:200}"
                                                  :max-size="{width: 600, height:400}"
                                                  aspect-ratio="16/9"
                                                  v-model="selected.images['comparison']['before']"
                                                  :current="JSON.stringify(selected.images['comparison']['before'])"></img-crop>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">After</label>
                                        <img-crop name="image"
                                                  :min-size="{width: 300, height:200}"
                                                  :max-size="{width: 600, height:400}"
                                                  aspect-ratio="16/9"
                                                  v-model="selected.images['comparison']['after']"
                                                  :current="JSON.stringify(selected.images['comparison']['after'])"></img-crop>
                                    </div>
                                </div>
                                <div v-if="$store.gallery.type === 'slider'">
                                    <label class="form-label">Image</label>
                                    <img-crop name="image"
                                              :min-size="{width: 600, height:400}"
                                              :max-size="{width: 1920, height:1080}"
                                              aspect-ratio="16/9"
                                              v-model="selected.images['slider']"
                                              :current="JSON.stringify(selected.images['slider'])"></img-crop>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="save()">Close</button>
                        <button type="button" class="btn btn-primary" @click="save()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" :name="name" :value="JSON.stringify(items)">
    </div>
</template>

<script>
    import draggable from 'vuedraggable'

    export default {
        name: "Gallery",
        components: {draggable},
        props: ["name", "current"],
        data: () => ({
            items: [],
            selected: null,
            index: null,
        }),
        created() {
            if (typeof this.current !== "undefined") {
                this.items = JSON.parse(this.current);
            }
        },
        watch: {
            selected(value) {
                switch (value) {
                    case null:
                        $(this.$refs.itemModal).modal('hide');
                        break;
                    default:
                        $(this.$refs.itemModal).modal('show');
                        break;
                }
            }
        },
        methods: {
            add() {
                this.selected = {
                    name: {},
                    description: {},
                    images: {
                        comparison: {},
                        slider: {}
                    }
                }
            },
            edit(index) {
                this.index = index;
                this.selected = this.items[index];
            },
            save() {
                if (this.index !== null) {
                    this.items[this.index] = this.selected;
                } else {
                    this.items.push(this.selected);
                }
                this.index = null;
                this.selected = null;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .gallery-items {
        > span {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            > div {
                cursor: move;
                width: calc(100% / 4);
                padding: 5px;
                @media only screen and (max-width: 768px) {
                    width: calc(100% / 2);
                }
                @media only screen and (max-width: 480px) {
                    width: 100%;
                }
            }
        }
    }
</style>