<template>
    <div>
        <div class="form-group">
            <label class="form-label">Type</label>
            <select name="params[type]" class="form-control" v-model="params.type">
                <option :value="key" v-for="(item, key) in $store.gallery.types" :key="key">{{item}}</option>
            </select>
        </div>
        <input :name="name" type="hidden" :value="JSON.stringify(params)">
    </div>
</template>

<script>
    export default {
        name: "GalleryParams",
        props: ["name", "current"],
        data: () => ({
            params: {
                type: "slider"
            },
        }),
        watch: {
            "params.type"(value) {
                this.$store.set("gallery", "type", value)
            }
        },
        created() {
            if (typeof this.current !== "undefined") {
                this.params = JSON.parse(this.current);
            }
        }
    }
</script>

<style scoped>

</style>