<template>
	<select class="form-control language-toggler" v-model="current" v-if="Object.keys($store.lang.all).length > 1">
		<option :value="lang.slug" v-for="(lang, key) in languages" :key="key">{{lang.title}}</option>
	</select>
</template>

<script>
export default {
	name: "LanguageToggler",
	data: () => (
		{
			current: null,
			languages: {},
		}
	),
	created () {
		this.languages = this.$store.get('lang', 'all');
		this.current = this.$store.get('lang', 'current');

	},
	mounted () {
		$('.translatable').find('label').append(' <span class="cl badge badge-default bg-azure text-white"></span>');
		this.setLabels();
	},
	watch: {
		current (value) {
			this.setLabels();
			this.$store.set('lang', 'current', value);
		}
	},
	methods: {
		setLabels () {
			if (Object.keys(this.$store.lang.all).length > 1) {
				$('.cl').html(this.current);
			}
		}
	}
}
</script>
<style lang="scss">
.language-toggler {
  max-width: 120px;
  cursor: pointer;
  font-weight: bolder;
  padding: 0;
  height: auto;
  option {
    cursor: pointer;
  }
}
</style>

