<template>
    <div class="input-group">
        <input :class="className" :name="inputname" v-model="filename" placeholder="Select file">
        <div class="input-group-prepend">
            <button class="btn btn-purple" @click.prevent="browse()" v-if="!filename"><i class="fas fa-link"></i></button>
            <button class="btn btn-danger" href="" @click.prevent="deleteFile()" v-else><i class="fas fa-trash"></i></button>
        </div>
    </div>
</template>
 <script>
export default {
    name: 'FileInput',
    props: {
        inputname: {
            default: 'file'
        },
        current: {
            default: null
        },
        className: {
            default: 'form-control'
        }
    },
    data () {
        return {
            filename: null
        }
    },
    created () {
        this.filename = this.current;
    },
    watch: {
        filename (value) {
            this.$emit('input', value);
            this.$emit('fileChange', value);
        }
    },
    methods: {
        browse () {
            const inst = this;
            moxman.browse({
                view: 'thumbs',
                oninsert (args) {
                    inst.filename = args.focusedFile.path;
                }
            });
        },
        deleteFile () {
            this.filename = null;
        }
    }
}
</script>
