<template>
	<div class="simple-image" @click="browse">
		<transition name="fadeIn">
			<img :src="root + img" v-if="img != null">
			<span v-else>Click to choose image</span>
		</transition>
		<input type="hidden" :name="name" :value="img">
	</div>
</template>

<script>
export default {
	name: "ImgInput",
	props: ['name', 'current', 'root'],
	data: () => ({
		img: null,
	}),
	created () {
		this.appendScripts();
		this.img = this.current !== undefined && this.current != "" && typeof this.current !== 'object' ? this.current : null;
	},
	watch: {
		img (value) {
			this.$emit('input', value);
			this.$emit('imgInputChanged', value);
		}
	},
	methods: {
		browse () {
			moxman.browse({
				view: 'thumbs',
				oninsert: (args) => {
					this.img = args.focusedFile.path;
				}
			});
		},
		appendScripts () {
			if ($("#moxiemanagerScript").length == 0) {
				const moxiemanager = $("<script />", {
					type: "text/javascript",
					src: "/ecms/plugins/moxiemanager/js/moxman.loader.min.js",
					id: "moxiemanagerScript"
				})
				$("head").append(moxiemanager);
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.simple-image {
  width: 100%;
  max-height: 300px;
  height: 200px;
  text-align: center;
  color: #50585F;
  background: #EEEEEE;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 100%;
  }
}
</style>
