<template>
	<div class="input-group">
		<span class="input-group-prepend" v-if="prepend && !this.hash" id="basic-addon3">
			<span class="input-group-text">{{prepend}} {{!this.hash ? "/" : "" }}</span>
		</span>
		<input type="text" :name="name" :id="id" :class="className" :value="value" :placeholder="placeholder" :disabled="disabled">
		<span class="input-group-append" v-if="append" id="basic-addon3">
			<button :class="['btn btn-icon', this.hash ? 'btn-purple' : 'btn-teal']" @click.prevent="changeType">#</button>
		</span>
	</div>
</template>

<script>
export default {
	name: "Slug",
	props: ['for', 'get', 'name', 'current', 'className', 'placeholder', 'disabled', 'id', 'helper', 'prepend', 'append'],
	data: () => ({
		slug: null,
		hash: false
	}),
	created () {
		this.slug = this.current !== undefined ? this.current : null;
		if (this.slug !== null) {
			this.hash = this.slug.indexOf('#') != -1 ? true : false;
		}
	},
	computed: {
		value () {
			let res = '';
			if (this.get !== undefined) {
				try {
					res = JSON.parse(this.slug)[this.get];
				} catch (e) {
					res = this.slug;
				}
			} else {
				res = this.slug;
			}
			const slug = this.$helpers.generateSlug(res);
			return this.hash ? "#" + slug : slug;
		}
	},
	watch: {
		value (value) {
			this.$emit('slugChanged', value);
			this.$emit('input', value);
			if (this.helper) {
				$("#" + this.for + 'Block').html(
					`<small>Slug: ${this.value}</small>`
				)
			}
		}
	},
	mounted () {
		const elem = $("#" + this.for);
		elem.keyup(() => {
			if (this.get !== undefined) {
				this.slug = $("#" + this.for + "_value").val();
			} else {
				this.slug = $("#" + this.for).val();
			}
		})
	},
	methods: {
		changeType () {
			this.hash = !this.hash;
		}
	},
}
</script>
