<template>
    <div>
        <textarea :id="id" v-model="content[lang.current]"></textarea>
        <input type="hidden" :id="id + 'value'" :name="name" :value="JSON.stringify(content)">
    </div>
</template>

<script>
    export default {
        name: "Tinymce",
        props: ['name', 'editorOptions', 'current'],
        store: ['lang'],
        data: () => ({
            content: {},
            editor: null,
            id: null,
            tinymceOptions: {
                menubar: true,
                inline: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview hr anchor pagebreak autoresize',
                    'searchreplace wordcount visualblocks visualchars code fullscreen',
                    'insertdatetime media nonbreaking save table contextmenu directionality gallery',
                    'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc noneditable'
                ],
                custom_elements: 'gallery',
                extended_valid_elements : 'gallery[class|id|style|params]',
                toolbar1: 'undo redo | insert | fontselect | styleselect | fontsizeselect | forecolor backcolor emoticons | bold italic | alignleft aligncenter alignright alignjustify',
                toolbar2: 'print preview media | link image | gallery resize | template |  numlist bullist charmap outdent indent | codesample | fullscreen | removeformat',
                fontsize_formats: '6pt 8pt 10pt 11pt 12pt 13pt 14pt 15pt 16pt 17pt 18pt 24pt 36pt 42pt 48pt',
                forced_root_block: false,
                convert_newlines_to_brs : false,
                force_br_newlines : true,
                force_p_newlines : false,
                remove_linebreaks : true,
                style_formats: [
                    {
                        title: "Image", items: [
                            {
                                title: 'Left',
                                selector: 'img,figure',
                                classes: 'align-left',
                                styles: {
                                    marginRight: '20px'
                                }
                            },
                            {
                                title: 'Right',
                                selector: 'img,figure',
                                classes: 'align-right',
                                styles: {
                                    marginLeft: '20px'
                                }
                            }
                        ]
                    }

                ],
                style_formats_merge: true,
                image_class_list: [
                    {title: 'None', value: ''},
                    {title: 'Responsive-Bs-3', value: 'img-responsive'},
                    {title: 'Responsive-Bs-4', value: 'img-fluid'},
                    {title: 'Responsive-Uikit', value: 'uk-responsive-width'}
                ],
                image_advtab: true,
                relative_urls: false,
                image_caption: true,
                image_title: true,
                importcss_append: true,
                branding: false,
                // content_css: "/site/css/app.css",
                template_selected_content_classes: "selcontent",
                templates: [
                    {title: '2 Cols', description: '2 columns layout', url: '/ecms/plugins/Blocks/twocolumns.html'},
                ],
                insert_toolbar: 'quicktable image media gallery templates',
                selection_toolbar: 'styleselect | blockquote quicklink | aligncenter alignright alignjustify |forecolor backcolor | fontsizeselect',
                contextmenu: 'inserttable | cell row column deletetable | importcss',
                external_plugins: {
                    moxiemanager: '/ecms/plugins/moxiemanager/plugin.min.js'
                }
            },
            tinymceMethods: {}
        }),
        created() {
            this.appendScripts();
            this.id = "tinyMceEditorId" + this._uid;
            this.content = this.current !== undefined && this.current !== null ? this.current : {};
            if (this.editorOptions) {
                this.tinymceOptions = this.editorOptions
            }
            this.initMethods();
            this.tinymceOptions['selector'] = "#" + this.id;
            this.tinymceOptions = Object.assign(this.tinymceOptions, this.tinymceMethods);
        },
        mounted() {
            this.init();
        },
        watch: {
            'lang.current'(newValue, oldValue) {
                this.content[oldValue] = this.editor.getContent();
                if (this.content[newValue] !== undefined) {
                    this.editor.setContent(this.content[newValue])
                } else {
                    this.editor.setContent("")
                }
                this.emitEvents();
            }
        },
        methods: {
            init() {
                this.editor = tinymce.init(this.tinymceOptions);
            },
            initMethods() {
                this.tinymceMethods = {
                    setup: (editor) => {
                        editor.on('KeyUp Change', (e) => {
                            this.content[this.lang.current] = editor.getContent({format: 'raw'});
                            $('#' + this.id + 'value').val(JSON.stringify(this.content));
                            this.emitEvents();
                        });
                        editor.on('init', (e) => {
                            this.setInstance();
                            this.emitEvents();
                        });
                    }
                }
            },
            setInstance() {
                this.editor = tinymce.get(this.id);
            },
            emitEvents() {
                this.$emit('contentChange', this.content);
                this.$emit('input', this.content);
            },
            appendScripts() {
                if ($("#tinymceScript").length == 0) {
                    const tinymce = $("<script />", {
                        type: "text/javascript",
                        src: "/ecms/plugins/tinymce/tinymce.min.js",
                        id: "tinymceScript"
                    })
                    $("head").append(tinymce);
                }
            }
        }
    }
</script>
