<template>
	<div>
		<textarea :class="className" :placeholder="placeholder" v-model="model[$store.lang.current]" :id="name" rows="5"></textarea>
		<input ref="value" type="hidden" :name="name" :value="value" :id="name + '_value'">
	</div>
</template>

<script>
export default {
	name: "Translatabletextarea",
	props: ['name', 'className', 'placeholder', 'current'],
	data: () => ({
		model: {}
	}),
	created () {
		this.model = this.current !== undefined || this.current !== null || this.current != "null" ? JSON.parse(this.current) : {};
	},
	computed: {
		value (value) {
			return JSON.stringify(this.model);
		}
	},
}
</script>