<template>
	<div>
		<input :type="type" :class="className" :placeholder="placeholder" v-model="model[$store.lang.current]" :id="name" :aria-describedby="name+'Block'">
		<span :id="name+'Block'" class="form-text text-muted pl-1">
		</span>
		<input ref="value" type="hidden" :name="name" :value="value" :id="name + '_value'">
	</div>
</template>

<script>
export default {
	name: "Translatablenput",
	props: ['name', 'className', 'placeholder', 'type', 'current'],
	data: () => ({
		model: {}
	}),
	created () {
		this.model = this.current !== undefined || this.current !== null || this.current != "null" ? JSON.parse(this.current) : {};
	},
	computed: {
		value (value) {
			return JSON.stringify(this.model);
		}
	},
}
</script>